<div class="content">
  <br> 
  <form  nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
        <nz-form-item>
          <nz-form-label class="formica" >Name</nz-form-label>
          <nz-form-control>
            <input class="ime" nz-input formControlName="name" placeholder="Input name"/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="formica" >Address</nz-form-label>
          <nz-form-control>
            <input class="address" nz-input formControlName="address" placeholder="Input address"/>
          </nz-form-control>
        </nz-form-item>
       
      <div nz-row>
        <div nz-col [nzSpan]="24" class="search-area">
          <button nz-button class="dugmic1" nzType="primary"  (click)="search()" ><i nz-icon nzType="search"></i>Search</button>
          <button nz-button class="dugmic"  (click)="resetForm()"  >Clear</button>
        </div>
      </div>
    </form>
  </div>
  <br><br>
<nz-table #basicTable [nzData]="pharmacies">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pharmacy of pharmacies">
        <td>{{ pharmacy.name }}</td>
        <td>{{ pharmacy.address }}</td>
        <td>{{ pharmacy.description }}</td>
        <td>
          <a (click)="medicines(pharmacy.id)">See pharmacy's medicines</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="subscribe(pharmacy.id)">Subscribe</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="searchMeds(pharmacy.id)">Search medicaments</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="pharmacists(pharmacy.id)">See pharmacists</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="dermatologists(pharmacy.id)">See available dermatologist appointments</a>
        </td>
      </tr>
    </tbody>
  </nz-table> 